<div class="star-rating">
    <select id="select-star-rating">
        <option value=""></option>
        {{#each rating in ratings }}
        <option {{bind-attr value=rating.value}}>{{rating.text}}</option>
        {{/each}}
    </select>
</div>
